body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.profil {
    display: flex;
    justify-content: center;
    gap: 70px;
    border-bottom: 2px solid white;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.photo img {
    width: 350px;
    border-radius: 20px;
    box-shadow: -5px 10px 20px black;
}

.entete {
    max-width: 730px;
}

.salut {
    font-size: 120px;
    font-weight: 800;
    margin: 0;
}

.salut span {
    color: orange;
}

.entete p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

.buttons a {
    display: inline-block;
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.buttons a:hover {
    background: #ffae42;
    box-shadow: 0 10px 20px black;
}

.parcours{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cadre-1{
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    box-shadow: -5px 10px 20px black;
}

.ici{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    align-items: center;
    box-shadow: 0 10px 20px black;
}

.ligne-3{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

.projet .texte{
    max-width: 700px;
}

.cadre-4{
    border-left: 2px solid white;
    padding-left: 70px;
}

.education h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.expérience h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.compétence h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.qualité h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.langue h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.projet h2{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.professionnel{
    background: orange;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 0 10px 20px black;
}

.tout{
    background: url(https://wallpapers.com/images/hd/black-solid-background-3333-x-5000-s19wzx8cyirxdjpm.jpg);
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 50px;
    max-width: 1400px;
    border: 2px solid white;
    border-radius: 20px;
}
